<div class="container">
    <div class="main_paragraph_days">
        <h2>Waiter's Schedule are as follows</h2>
        <form action="/days" method="post">
            <div class="paragraph" style="color: gray;">
                <input type="checkbox" name="Monday" value="Monday"> Monday
                <input type="checkbox" name="Tuesday" value="Tuesday"> Tuesday
                <input type="checkbox" name="Wednesday" value="Wednesday"> Wednesday
                <input type="checkbox" name="Thursday" value="Thursday"> Thursday
                <input type="checkbox" name="Friday" value="Friday"> Friday
                <input type="checkbox" name="Saturday" value="Saturday"> Saturday
                <input type="checkbox" name="Sunday" value="Sunday"> Sunday

                {{!-- {{#each theWeekDays}}
                    <input type="checkbox" name="days" value="{{id}}">{{days_of_week}}
                {{/each}}         --}}
            </div>
            <table>
                {{#each showSelectedDays}}
                <tr>
                    <td>{{firstname}}</td>
                    {{!-- <td>{{amount}}</td> --}}
                </tr>
                {{/each}}
            </table>
            {{!-- <button class="showBtn" type="submit"> Show days </button> --}}
        </form>
        <form action="/delete" method="post">
            <div class="buttons">
                <button class="deleteBtn" type="submit">Delete scheduled waiters</button>
            </div>
        </form>
    </div>
</div>
