
<div class="container">
    <div class="main_paragraph_login">
        <h2>Login</h2>
        <form action="/login" method="post">
            <div class="errorMsgs">
                <div class="success" id="success">
                    <h4> {{messages.success}} </h4>
                </div>   
                <div class="error" id="error">
                    <h4> {{messages.error}} </h4>
                </div>
            </div> 
            <div class="paragraph">
                <p for="uniqueCode" class="details">Password: </p>
                <input type="password" class="name" placeholder="Enter your password" name="password" >
            </div>
            <button class="submitBtn" type="submit"> Login </button>
        </form>
    </div>
</div>
